<style>
{# FORM #}
    input[type='text'],
    input[type='password'],
    input[type='email'] {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        width: 32%;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        height: 30px;
        padding-left: 10px;
    }

    input[type='submit'],
    input[type='reset'] {
        color: #FFFFFF;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    input[type='submit']:hover {
        background: #4B92CF;
    }

    input[type='submit'] {
        background-color: #337ab7;
    }

    input[type='reset'] {
        background-color: #d9534f;
    }

    body {
        background-image: url("http://www.gaiawallpapers.com/wallpapersbin.20160303/hd-1920x1080/201406061-simple-maze-1920x1080.jpg");
    }

    .header {
        text-align: center;
        margin-bottom: 10%;
    }
    
    .header img {
        width: 4%; display: inline; vertical-align: middle;
    }

    .header h1 {
        width: 50%;
        display: inline;
        vertical-align: middle;
        margin: 0 5%;
        font-family: "Comic Sans MS";
    }

    .content {
        text-align: center;
    }
    .content .homeInput {
        width: 50%;
        margin: auto;
        text-align: center;
        margin-top: 15%;
    }

    .content .homeInput input{
        display: block;
        margin: auto;
        width: 30%;
        margin-bottom: 5%;
        height: 70px;
    }

    .content .easyLabDiv .easyLabTable {
        margin: auto;
    }

    .content .easyLabDiv .easyLabTable tr {
        border: 1px solid blue;
    }
    .content .easyLabDiv .easyLabTable td {
        border: 1px solid red;
    }

</style>